@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;

  .clock-container {
    background: linear-gradient(90deg, #0000005f, #0000005f),
      url("../images/sad_cat.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white !important;
  }
}

.rate-please-modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #000000b2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;

  .modal-image {
    height: 200px;
    width: 200px;
    border-radius: 100px;
    margin-bottom: 25px;
  }
}
